<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275186516755-04edlb43lql3uci4ssk0ts3s339k95qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275186516755-04edlb43lql3uci4ssk0ts3s339k95qh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>275186516755-agq0lj876fd14escvqfqklt1sku634bv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCprK4gEiWJf7DLW_ekfA9cAlP9PDYFd8o</string>
	<key>GCM_SENDER_ID</key>
	<string>275186516755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glamworlditltd.theFastParaphraseUserApp</string>
	<key>PROJECT_ID</key>
	<string>the-fast-paraphrase</string>
	<key>STORAGE_BUCKET</key>
	<string>the-fast-paraphrase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275186516755:ios:39cb0d43e49dc1f42010e6</string>
</dict>
</plist>